<!DOCTYPE html>
<html>
<head>
<title>Flowers</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<nav>
    <h2>🌸 Blossom Shop</h2>

    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/flowers">Flowers</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/cart">Cart 🛒</a></li>
    </ul>
</nav>

<h1 class="title">Our Flowers</h1>

<div class="products">

{% for flower in flowers %}

<div class="card">
    <img src="{{ flower.image }}">
    <h3>{{ flower.name }}</h3>
    <p>{{ flower.price }}</p>

    <button onclick="addCart('{{ flower.name }}')">
        Add To Cart
    </button>
</div>

{% endfor %}

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>